<div class="pre-footer"></div>

<footer>
    <p>Get in touch on:</p>

    <ul class="contact-list">
        <li><a href="mailto:davehouse@gmail.com">davehouse@gmail.com</a></li>
        <li><a href="http://www.twitter.com/iknowdavehouse">Twitter</a></li>
        <li><a href="http://www.linkedin.com/in/iknowdavehouse">LinkedIn</a></li>
    </ul>
</footer>