<header class="header">
    <span class="h1 title">{% if post %}<a href="../../index.html">{% else %}<a href="index.html">{% endif %}D<span class="hidden">ave</span>H<span class="hidden">ouse</span></a></span>
</header>