<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if post %}
    <link rel="stylesheet" href="../../styles/style.css" />
    {% else %}
    <link rel="stylesheet" href="styles/style.css" />
    {% endif %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    {% if post %}
    <link rel="shortcut icon" type="image/x-icon" href="../../img/favicon.ico">
    {% else %}
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
    {% endif %}
    <title>{{ title }}</title>
  </head>
  <body class="{{ bodyClass }}" >
    <div class="grid">
        {% include "header.njk" %}        
          {% if markdown %}
          <div class="main main--post" role="main">
            {{ content | safe }}
          </div>
          {% else %} 
          {{ content | safe }}
          {% endif %}
        {% include "footer.njk" %}
    </div>
  </body>
</html>